/* Always set the map height explicitly to define the size of the div
element that contains the map. */

html,
body {
	font-family: 'Rambla', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 10px;
}


h2 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
input[type=file] + label{
	display: block;
}
.button {
	background-color: #446e71;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0 5px 0;
	font-size: 15px;
	text-align: center;
}

#map {
	height: 100%;
}
#control {
	padding: 10px;
	background-color: #70b9bc;
	width: 300px;
	height: 100%;
	float: left;
}
#search {
	width: 200px;
	padding:5px;
	margin: 10px;
}
#add, #save {
	width: 100%;
}
#chart {
	width: 300px;
	height: 300px;
	background: white;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
}

#places_list li {
	background-color: white;
	color: #70b9bc;
	padding: 3px;
	margin-bottom: 2px;
	border-radius: 3px;
}

